/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: linear-gradient(300deg, #0077b6, #90e0ef, #0096c7);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
